.menu-page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.menu-item{
    background-color: lightblue;
    font-size: 18px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu{
    width: 100%;
}