* {
  margin: 0;
  padding: 0;
}

body {
height: 100%;
}

.signup-page {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.allergen-list {
display: flex;
flex-direction: column;
justify-content: center;
}

.left-side, .right-side {
width: 30%;
}

.left-side {
padding-left: 5%;
padding-top: 5%;
padding-right: 30px;
background-color: white;
overflow: hidden;
}

.right-side {
padding-left: 30px;
padding-top: 5%;
padding-right: 5%;
background-color: white;
}

.background-left, .background-right {
width: 20%;
background-color: lightsteelblue;
height: 5000px;
overflow: hidden;
}

.login-body {
  background-color: rgb(37, 37, 39);
  padding-top: 20vh;
}

.login-form-container {
  width: 450px;
  height: auto;
  padding: 20px 30px;
  background-color: lightblue;
  border-radius: 5px;
  margin: auto;
  box-shadow: 0 0 10px 0 black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

ul.login-list {
  list-style-type: none;
  text-align: center;
}

ul.login-list li {
  width: 450px;
  margin-bottom: 12px;
}

ul.login-list li input[type="text"] {
  width: 450px;
  height: 20px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  text-indent: 7px;
  border-radius: 5px;
  padding: 6px 0px;
}

ul.login-list li input[type="password"] {
  width: 450px;
  height: 20px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  text-indent: 7px;
  border-radius: 5px;
  padding: 6px 0px;
}

ul.login-list li input[type="button"] {
  width: 455px;
  height: 37px;
  margin: 7px 0px 7px 0px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: rgb(37, 37, 39);
  border: none;
}



/*img[src="https://www.gravatar.com/avatar/0a9745ea7ac5c90d7acadb02ab1020cd?s=32&d=identicon&r=PG&f=1"]{*/
#markerLayer img{
  border-radius: 100% !important;
  border: 2px solid rgb(47, 172, 194) !important;
        width: 85% !important;
        height: 90% !important;
        border-radius: 5px;
}

/* Added in styling from signup.css */

.privacy-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 800px;
}

.question-wrapper, .checkbox-wrapper {
  display: flex;
  flex-direction: column;
}

.question-wrapper {
  float: left;
}

.q-box {
margin: 3px;
}

.question {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.diet-pref{
  text-align: center;
}

.height-wrapper{
  display: flex;
  flex-direction: row;
}

.height-in, .height-ft{
  width: 20px;
  text-align: right;
}

.diet-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-nav-bar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: lightblue;
    border-bottom: 2px solid gray;
    position: fixed;
    top: 0;
    /*overflow: hidden;*/
    width: 100%;
}

.flex-nav-bar a{
    display: block;
    color: white;
    padding: 1em;
    font-family: verdana;
    text-decoration: none;
    line-height: 200%;
}

.flex-nav-bar a:hover{
  text-decoration: none;
}

.flex-wrapper{
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.flex-social{
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  height: 100vh;
  flex: 0 1 40%;
  justify-content: center;
  position: relative;
  top: 70px;
  overflow: hidden;
  border-right: 2px solid gray;
}

.search{
  align-self: center;
}

.search input[type=text]{
  width: 300px;
  font-family: verdana;
  font-size: 14px;
  padding: 5px;
}

.search input[type=submit]{
  margin-left: -56px;
  cursor: pointer;
}

.flex-settings{
  display: flex;
  align-self: center;
  text-decoration: none;
}
.flex-settings:hover{
  background: darkcyan;
  border-radius: 5px;
  text-decoration: none;
}

.friends{
  background: white;
  width: 400px;
  height: 40%;
  margin: 20px;
  align-self: center;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}

.recommendations{
  background: white;
  width: 400px;
  height:40%;
  margin: 20px;
  align-self: center;
  border: 2px solid black;
  border-radius: 5px;
}

/*Styling for the bar behind dining court tabs in the recommendation box*/
.dc-tab{
  overflow: hidden;
  background-color: lightblue;
  border-bottom: 2px solid black;
}

/*Styling for the dining court tab buttons*/
.dc-tab button{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/*Change tab color when mouse hovers over tab*/
.dc-tab button:hover{
  background-color: darkcyan;
}

/*Styling the content of each tab*/
.tabcontent{
  display: none;
  text-align: center;
}
.tabcontent2{
  display: none;
}

.flex-map-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 0 1 60%;
  position: relative;
  top: 70px;
  overflow: scroll;
}

.map{
  border-radius: 5px;
  height: 600px;
  margin: auto; 
  width: 600px; 
  border: 3px solid rgb(115, 173, 33); 
  padding: 60px;  
  overflow: hidden;
}

.main_clock{
  display: flex;
  flex-direction: row;

}

.date{
  margin-right: 30px;
}

/*PRIVACY FORM*/
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*END PRIVACY FORM*/

/*CHANGE PASSWORD FORM*/
.cp-form-container {
  width: 100%;
  height: auto;
  padding: 20px 30px;
  background-color: lightblue;
  border-radius: 5px;
  /*margin: auto;*/
  box-shadow: 0 0 10px 0 black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

ul.cp-list {
  list-style-type: none;
  text-align: center;
}

ul.cp-list li {
  width: 450px;
  margin-bottom: 12px;
  float: middle;
}

ul.cp-list li input[type="password"] {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  text-indent: 7px;
  border-radius: 5px;
  padding: 6px 0px;
}

ul.cp-list li input[type="submit"] {
  width: 100%;
  height: 37px;
  margin: 7px 0px 7px 0px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: rgb(37, 37, 39);
  border: none;
}
/*END CHANGE PASSWORD FORM*/

/*SUPPORT FORM*/
.support-form-container {
  width: 100%;
  height: auto;
  padding: 20px 30px;
  background-color: lightblue;
  border-radius: 5px;
  margin: auto;
  box-shadow: 0 0 10px 0 black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

ul.support-list {
  list-style-type: none;
  text-align: center;
}

ul.support-list li {
  width: 450px;
  margin-bottom: 12px;
}

ul.support-list li input[type="text"] {
  width: 450px;
  height: 100%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  text-indent: 7px;
  border-radius: 5px;
  padding: 6px 0px;
}

ul.support-list li input[type="textarea"] {
  width: 100%;
  height: 20px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  text-indent: 7px;
  border-radius: 5px;
  padding: 6px 0px;
}

ul.support-list li input[type="submit"] {
  width: 455px;
  height: 37px;
  margin: 7px 0px 7px 0px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: rgb(37, 37, 39);
  border: none;
}
/*END SUPPORT FORM*/

#mediaCapture {
  display: none;
}

.fb{
  width:398px;
  border:1px solid gray;
  border-radius:5px;
  position:relative;
  height:75px;
}
.fb p{
  font-family:sans-serif;
  margin: 0 0 0 10px;
  line-height:30px;
}

.fb-top span{
  color:#4267B2;
  float:right;
  margin-right:10px;
}
.fb-top{
  background-color:#efefef;
  height:30px;
  width:500px;
  border-radius:5px 5px 0 0;
  position:absolute;
  top:-1px;
  left:-1px;
  border:1px solid gray;
}

.fb img{
  position:absolute;
  left:10px;
  top:5px;
  border-radius: 100%;
  border: 2px solid rgb(47, 172, 194) !important;
}

#info{
  position:absolute;
  left:80px;
  top:30px;
}

#info {
  color:#4267B2;
  line-height:25px;
  font-size:18px;
}

#info span{
  color:#777;
  font-size:14px;
}

#button-block{
  position:absolute;
  right:10px;
  top:30px;
}

#button-block div{
  display:inline-block;
}

.confirmRequest, .deleteRequest{
  background-color:#4267B2;
  color:white;
  padding:7px;
  border-radius:2px;
  margin-right:10px;
  margin-left: 3px;
  font-family:sans-serif;
}

.deleteRequest{
  color:#222;
  background-color:#bbb;
  border:1px solid #999;
  padding:6px;
  margin-right:0;
}

#button-block div:hover{
  opacity:.8;
  cursor:pointer;
}




