body{
    height: 100%;
    width: 100%;
}

.filesumbit{
    display: flex;
    flex-direction: row;
}

.privacy-wrapper {
    display: flex;
    flex-direction: row;
}

.question-wrapper, .checkbox-wrapper {
    display: flex;
    flex-direction: column;
}

.question-wrapper {
    float: left;
}

.checkbox-wrapper {
    padding-left: 10px;
    float: right;
}

.diet-pref{
    text-align: center;
}

.height-wrapper{
    display: flex;
    flex-direction: row;
}

.height-in, .height-ft{
    width: 20px;
    text-align: right;
}

.diet-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}